@charset "ISO-8859-1";

h1 {
  text-align:center;
  margin: auto;
  padding:8px;
  display:block;
}
table {
  margin:auto;
  border-collapse: collapse;
}

td {
  border: solid black 1px;
  margin: 2px;
  padding: 2px;
}
